<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" /> <!-- THIS -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>Магазин товаров</title>
       <link rel="shortcut icon" type="image/png" href="img-static/fav.png"/>

    <!--webpack-->
    <link rel="stylesheet" href="assets/<%= assets.common_css.css %>"/>
    <link rel="stylesheet" href="assets/<%= assets.app.css %>"/>
    <!--webpack-end-->
</head>
<body>
    <div id="reactContent" style="width: 100%; height: 100%"></div>


    <script src="assets/<%= assets.common.js %>"></script>
    <script src="assets/<%= assets.vendor.js %>"></script>
    <script src="assets/<%= assets.startToo.js %>"></script>
    <script src="assets/<%= assets.app.js %>"></script>

    <!--static-->
    <script type="text/javascript" src="/js/function.js"></script>
    <!--static-end-->

</body>
</html>